.App {
  text-align: center;
  max-width: 1700px;
  /* margin: 0 auto; */
}
@media only screen and (min-width: 2000px) {
  .App {
    margin: 0 auto;
  }
}
body {
  overflow-x: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
filter: blur(242.593px);
background: linear-gradient(187.3deg, #F5F5F5 5.53%, #A7F8AF 24.96%, #B4E6F6 37.28%, #FEE2C3 67.65%, #AB8DEC 103.51%);

} */

a {
  text-decoration: none;
  color: #282c34;
}
li,
ul {
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.hover_div:hover {
  border: 1px solid rgb(161, 159, 159);
  /* cursor: pointer; */
}
@font-face {
  font-family: Clash Display Variable;
  src: url("../ClashDisplay-Variable.ttf");
}
/* *{
  font-family: Clash Display Variable !important;
} */
