.cv_container h1{

margin: 2rem 0;
/* width: 343px; 00*/
text-align: left;
height: 54px;

font-family: 'Clash Display Variable';
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 54px;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #0C0C0C;
}

.cv_container{
    width: 90%;
    margin: 5rem auto;
}
.cv_container .date{
text-align: left;
width: 15rem;
height: 47px;
font-family: 'Clash Display Variable';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 47px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #AD97FF;
}
#cv::before{
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  filter: blur(242.593px);
  background-color:  #F5F5F5;
  
  /* background: linear-gradient(187.3deg, #F5F5F5 5.53%, #A7F8AF 24.96%, #B4E6F6 37.28%, #FEE2C3 67.65%, #AB8DEC 103.51%); */
}



.cv_container .info{


    text-align: left;
    width: 75%;
/* height: 36px; */

font-family: 'Clash Display Variable';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #0E1216;

}

.cv_container .highlights{
  
    width: 85%;
    padding: 32px 0;
    border-bottom: 1px solid #CACACA;
}
.cv_container .highlights .data{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

