.cv_container h1 {
  margin: 2rem 0;
  /* width: 343px; 00*/
  text-align: left;
  height: 54px;

  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #0c0c0c;
}

.cv_container {
  width: 90%;
  margin: 5rem auto;
}
.cv_container .date {
  text-align: left;
  width: 15rem;
  height: 47px;
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 47px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ad97ff;
}
#cv::before {
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: blur(242.593px);
  background-color: #f5f5f5;

  /* background: linear-gradient(187.3deg, #F5F5F5 5.53%, #A7F8AF 24.96%, #B4E6F6 37.28%, #FEE2C3 67.65%, #AB8DEC 103.51%); */
}

.cv_container .info {
  text-align: left;
  width: 75%;
  /* height: 36px; */

  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #0e1216;
}

.cv_container .highlights {
  width: 85%;
  padding: 32px 0;
  border-bottom: 1px solid #cacaca;
}
.cv_container .highlights .data {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

@media only screen and (max-width: 900px) {
  body::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;

    background: linear-gradient(
        184deg,
        #f5f5f5 16.55%,
        rgba(245, 245, 245, 0) 83.96%
      ),
      url(https://s3-alpha-sig.figma.com/img/f647/60af/9971e777aa0372d8fecdfcf50bbb2913?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=paKXIVshVyETM54Ek6qA0M8CHhNSftqGD4nPuMRe5yUH-r~fnw6UiUphIJ8bqTrxx5C0PcdJHtk3I~BJD4UKcj9mHK~kSXuJUbEt4kZ-fHv1V5TEqctu2d7Gvr2R7TqWbpVjDtQS4G1dKj96yOasMCDwsQoUBBy0JMtVhHAqudDKNoK49idBawEJpRJoo4Agn-6LpkmZfJLKtPH9Ryidd28tMWu7A9Oe4RbfFLlowXDlnL05Ms7AUlj4oa39DrI6c6z2IyYi-a6WkHuRR7xH4JmfUcuPGXoGg8h77SPY748sjooEnAlk06dHWs6SDNMA44B9iFRGDRfbkFK7ULZVsA__),
      lightgray -670.521px -101px / 443.857% 115.577% no-repeat;
    background-position: bottom;
  }
}

@media only screen and (max-width: 900px) {
  .cv_container .highlights .data {
    flex-direction: column;
  }

  .cv_container .info {
    font-size: 18px;
    width: 100%;
  }

  .cv_container .date {
    width: 100%;
  }

  #cv::before {
    height: auto;
  }

  .cv_container .highlights {
    width: auto;
  }
}
#root {
  overflow-x: hidden;
}
