.landing_innerContainer {
  /* padding-top: 5rem; */
  display: flex;
  width: 90%;
  margin: 2rem auto;
  /* align-items: center; */
}

#landing_container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(
    187deg,
    #f5f5f5 5.53%,
    #a7f8af 24.96%,
    #b4e6f6 37.28%,
    #fee2c3 67.65%,
    #ab8dec 103.51%
  );

  filter: blur(242.59291076660156px);
  left: 0;
}

.track {
  width: 100%;
}
.landing_heading {
  margin-bottom: 3rem;
  margin-top: 3rem;

  width: 928px;
  height: auto;
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 54px;
  text-transform: uppercase;
  color: #0e1216;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: left;
}
.special_heading {
  color: #a487ff;
}

.landing_info {
  align-items: self-start;
  width: 58%;
  display: flex;
  flex-direction: column;
}

.standbox_title {
  /* width: 204px; */
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #0e1216;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
  margin: 10px 0;
}
.tags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.stand_box .tags p {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: fit-content;
  height: 39px;
  background: #ffffff;
  border-radius: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  margin: 3px;
  color: #475467;

  opacity: 0.8;
}

.stand_box::before {
  content: "";
  width: 100px;
  background: #a487ff;
  height: 3px;
  position: absolute;
  left: 0;
}
.stand_box {
  position: relative;
}

.stand_box .border {
  width: 500px;
  height: 5px;
  background-color: #a487ff;
}
.stand_box {
  margin-bottom: 5rem;
}

.landing_img {
  /* background-size: cover;
  background-repeat: no-repeat;
  height: 575px;
  width: 491px;
  position: relative; */
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 90%;
  margin: 3rem auto;
  position: relative;
}
.landing_img img {
  width: 100%;
  border-radius: 24px;
}

.landing_img .img_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8.34394px 13.3503px;
  gap: 4.17px;
  position: absolute;
  left: 2rem;
  bottom: 2rem;

  background: #ffffff;
  border-radius: 13.3503px;
}

.landing_img .img_name p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 26.7006px;
  line-height: 36px;
  color: #0e1216;
}

.landing_img .img_name small {
  width: 69px;
  height: 18px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 13.3503px;
  line-height: 18px;
  text-transform: uppercase;

  color: #0e1216;

  opacity: 0.64;
}

.marquee_section {
  display: flex;
  background-color: #0e1216;
  color: white;
  padding: 1rem;
  /* width: 100%; */
  /* height: 30px; */
  /* position: absolute; */
  /* overflow: hidden;

  transform: rotate(3deg); */
  justify-content: flex-start;
  align-items: center;
  width: max-content;
}
.marquee_section h1 {
  font-family: Clash Display Variable;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.06em;
  text-align: left;
  text-transform: uppercase;
  /* -webkit-text-stroke-width: 0.1px; */
  animation: marquee 0.5s linear infinite;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
}
.marquee .content {
  animation: marquee 8s linear infinite;
  display: flex;
}
.marquee .content h1 {
  margin: 0 2rem;
  font-family: Clash Display Variable;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.track {
  position: absolute;
  white-space: nowrap;
  /* will-change: transform; */

  background: rgb(0, 0, 0);
  background: linear-gradient(
    140deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(69, 69, 69, 1) 26%,
    rgba(255, 255, 255, 1) 100%
  );
  /* background-color: #0E1216; */
  color: white;
  padding: 1rem;
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.animation_region_pc .anim {
  max-height: 35px;
  overflow: hidden;

  padding-top: 0;
}

.animation_region_pc .hover_active {
  transform: translateY(-30px);
}
.animation_region_pc .inner_anim:hover {
  transform: translateY(-30px);
}

.animation_region_pc .inner_anim {
  transition: transform 0.5s;
}
.animation_region_pc .anim:hover {
  max-height: 40px;
}
.anim p {
  cursor: pointer;
  transition: transform 0.5s;
  margin: 10px 0;
  text-align: left;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #0e1216;
}
.special_hide {
  color: #846ed4 !important;
}
.marquee {
  margin-top: 10rem;
}
@media only screen and (min-width: 900px) {
  .landing_img .IYANUAYO,
  .landing_img .Alexandra {
    bottom: 7rem;
  }
}
@media only screen and (min-width: 1300px) {
  .landing_heading {
    width: 80%;
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
  }
}
.animation_region_mobile {
  display: none;
}
.animation_region_mobile .special_hide {
  background: url("../../Images/hide_bg.svg") no-repeat;
  background-position: left;
  background-size: cover;
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: center;
}
.animation_region_mobile .top_hide {
  text-align: start;
}

.animation_region_mobile .special_hide {
  display: none;
}

.animation_region_mobile .top_hide:hover ~ .special_hide {
  display: flex;
}
.animation_region_mobile .special_hide {
  margin: 0;
  margin-top: -5px;
}
.animation_region_mobile .top_hide {
  position: relative;
  display: flex;
  padding: 6px 8px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: #f5f5f5;
  text-align: start;
  width: 205px;
}
.animation_region_mobile .special_hide span {
  margin-top: 10px;
}
.animation_region_mobile .anim p {
  height: auto;
}

.landing_img::before {
  content: "";
  position: absolute;
  width: 529.268px;
  height: 529.268px;
  z-index: -1;
  left: 0;
  border-radius: 529.268px;
  border: 1.782px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.52) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@media only screen and (max-width: 1290px) {
  .landing_innerContainer {
    flex-direction: column;
  }

  .landing_info {
    width: 98%;
  }

  .tags {
    width: 100%;
  }

  .landing_heading {
    height: auto;
    width: 100%;
  }

  .stand_box {
    margin-bottom: 1rem;
  }

  .landing_img {
    height: auto;
    width: 90%;
    margin: 3rem auto;
  }
}

@media only screen and (max-width: 1150px) {
  .landing_heading {
    height: auto;
    width: auto;
    font-size: 30px;
  }

  .landing_innerContainer {
    width: 95%;
  }
}

@media only screen and (max-width: 900px) {
  body::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;

    background: linear-gradient(
        184deg,
        #f5f5f5 16.55%,
        rgba(245, 245, 245, 0) 83.96%
      ),
      url(https://s3-alpha-sig.figma.com/img/f647/60af/9971e777aa0372d8fecdfcf50bbb2913?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=paKXIVshVyETM54Ek6qA0M8CHhNSftqGD4nPuMRe5yUH-r~fnw6UiUphIJ8bqTrxx5C0PcdJHtk3I~BJD4UKcj9mHK~kSXuJUbEt4kZ-fHv1V5TEqctu2d7Gvr2R7TqWbpVjDtQS4G1dKj96yOasMCDwsQoUBBy0JMtVhHAqudDKNoK49idBawEJpRJoo4Agn-6LpkmZfJLKtPH9Ryidd28tMWu7A9Oe4RbfFLlowXDlnL05Ms7AUlj4oa39DrI6c6z2IyYi-a6WkHuRR7xH4JmfUcuPGXoGg8h77SPY748sjooEnAlk06dHWs6SDNMA44B9iFRGDRfbkFK7ULZVsA__),
      lightgray -670.521px -101px / 443.857% 115.577% no-repeat;
    background-position: bottom;
  }

  .landing_img::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: -1;
    border-radius: 18.601px;
    border: 0.66px solid #fff;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.52) 0%, rgba(255, 255, 255, 0.00) 100%); */
    /* transform: rotate(-5.509deg); */
  }
}

@media only screen and (max-width: 500px) {
  .landing_heading {
    width: 342px;
    height: auto;
    font-size: 36px;
  }
}

@media only screen and (max-width: 900px) {
  .marquee .content h1 {
    font-size: 20px;
  }

  .landing_img img {
    border-radius: 18px;
    box-shadow: -5.944px 1.321px 12.284px -8.585px #413f43;
  }
  .landing_img {
    border-radius: 650px;

    border-radius: 12px;
  }

  .landing_innerContainer {
    flex-direction: column;
    width: 95%;
    margin: 5rem auto;
    margin-bottom: 1rem;
  }
  .marquee {
    height: 150px;
    margin-top: 4rem;
  }
  .landing_heading {
    /* width: 342px; */
    height: auto;
    font-size: 36px;
  }

  .marquee {
    transform: rotate(3.5deg);
  }

  .track {
    background: linear-gradient(
      90deg,
      #121418 37.53%,
      #81797a 63.04%,
      #121418 76.77%
    );
  }

  .stand_box {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  .tags {
    width: auto;
  }

  .landing_info {
    width: 90%;
  }

  .landing_img {
    width: 85vw;
  }
}

@media only screen and (max-width: 900px) {
  .animation_region_pc {
    display: none;
  }
  .animation_region_mobile {
    display: block;
  }
}

.img_name {
  z-index: 0 !important;
}

.marquee {
  scale: 1.1;
}
.marquee_outer_wrapper {
  scale: 1.1;
  transform: rotate(3.5deg);
  width: 100%;
  overflow: hidden;
}

.available_container .marquee .content {
  align-items: center;
}
.available_container .marquee .content h1 {
  margin: 0;
}

#root {
  overflow-x: hidden;
}
