.landing_innerContainer {
  /* padding-top: 5rem; */
  display: flex;
  width: 90%;
  margin: 2rem auto;
  /* align-items: center; */
}

#landing_container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(
    187deg,
    #f5f5f5 5.53%,
    #a7f8af 24.96%,
    #b4e6f6 37.28%,
    #fee2c3 67.65%,
    #ab8dec 103.51%
  );

  filter: blur(242.59291076660156px);
  left: 0;
}

.track {
  width: 100%;
}
.landing_heading {
  margin-bottom: 3rem;
  margin-top: 3rem;

  width: 928px;
  height: auto;
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 54px;
  text-transform: uppercase;
  color: #0e1216;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: left;
}
.special_heading {
  color: #a487ff;
}

.landing_info {
  align-items: self-start;
  width: 58%;
  display: flex;
  flex-direction: column;
}

.standbox_title {
  /* width: 204px; */
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #0e1216;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
  margin: 10px 0;
}
.tags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.stand_box .tags p {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: fit-content;
  height: 39px;
  background: #ffffff;
  border-radius: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  margin: 3px;
  color: #475467;

  opacity: 0.8;
}

.stand_box::before {
  content: "";
  width: 100px;
  background: #a487ff;
  height: 3px;
  position: absolute;
  left: 0;
}
.stand_box {
  position: relative;
}

.stand_box .border {
  width: 500px;
  height: 5px;
  background-color: #a487ff;
}
.stand_box {
  margin-bottom: 5rem;
}

.landing_img {
  /* background-size: cover;
  background-repeat: no-repeat;
  height: 575px;
  width: 491px;
  position: relative; */
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 90%;
  margin: 3rem auto;
  position: relative;
}
.landing_img img {
  width: 100%;
  border-radius: 24px;
}

.landing_img .img_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8.34394px 13.3503px;
  gap: 4.17px;
  position: absolute;
  left: 2rem;
  bottom: 2rem;

  background: #ffffff;
  border-radius: 13.3503px;
}

.landing_img .img_name p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 26.7006px;
  line-height: 36px;
  color: #0e1216;
}

.landing_img .img_name small {
  width: 69px;
  height: 18px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 13.3503px;
  line-height: 18px;
  text-transform: uppercase;

  color: #0e1216;

  opacity: 0.64;
}

.marquee_section {
  display: flex;
  background-color: #0e1216;
  color: white;
  padding: 1rem;
  /* width: 100%; */
  /* height: 30px; */
  /* position: absolute; */
  /* overflow: hidden;

  transform: rotate(3deg); */
  justify-content: flex-start;
  align-items: center;
  width: max-content;
}
.marquee_section h1 {
  font-family: Clash Display Variable;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.06em;
  text-align: left;
  text-transform: uppercase;
  /* -webkit-text-stroke-width: 0.1px; */
  animation: marquee 0.5s linear infinite;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
}
.marquee .content {
  animation: marquee 8s linear infinite;
  display: flex;
}
.marquee .content h1 {
  margin: 0 2rem;
  font-family: Clash Display Variable;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.track {
  position: absolute;
  white-space: nowrap;
  /* will-change: transform; */

  background: rgb(0, 0, 0);
  background: linear-gradient(
    140deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(69, 69, 69, 1) 26%,
    rgba(255, 255, 255, 1) 100%
  );
  /* background-color: #0E1216; */
  color: white;
  padding: 1rem;
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.animation_region_pc .anim {
  max-height: 35px;
  overflow: hidden;

  padding-top: 0;
}

.animation_region_pc .hover_active {
  transform: translateY(-30px);
}
.animation_region_pc .inner_anim:hover {
  transform: translateY(-30px);
}

.animation_region_pc .inner_anim {
  transition: transform 0.5s;
}
.animation_region_pc .anim:hover {
  max-height: 40px;
}
.anim p {
  cursor: pointer;
  transition: transform 0.5s;
  margin: 10px 0;
  text-align: left;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #0e1216;
}
.special_hide {
  color: #846ed4 !important;
}
.marquee {
  margin-top: 10rem;
}
@media only screen and (min-width: 900px) {
  .landing_img .IYANUAYO,
  .landing_img .Alexandra {
    bottom: 7rem;
  }
}
@media only screen and (min-width: 1300px) {
  .landing_heading {
    width: 80%;
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
  }
}
.animation_region_mobile {
  display: none;
}
.animation_region_mobile .special_hide {
  background: url("../../Images/hide_bg.svg") no-repeat;
  background-position: left;
  background-size: cover;
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  justify-content: center;
}
.animation_region_mobile .top_hide {
  text-align: start;
}

.animation_region_mobile .special_hide {
  display: none;
}

.animation_region_mobile .top_hide:hover ~ .special_hide {
  display: flex;
}
.animation_region_mobile .special_hide {
  margin: 0;
  margin-top: -5px;
}
.animation_region_mobile .top_hide {
  position: relative;
  display: flex;
  padding: 6px 8px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: #f5f5f5;
  text-align: start;
  width: 205px;
}
.animation_region_mobile .special_hide span {
  margin-top: 10px;
}
.animation_region_mobile .anim p {
  height: auto;
}
