.nav .logo img {
  width: 85px;
  object-fit: contain;
  margin: 0 10px;
  height: 49px;
}
.nav .logo {
  justify-content: center;
  display: flex;
  align-items: center;
}
.nav {
  padding: 1rem 2rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(19.25px);
}
.nav {
  /* position: fixed;
  left: 0; */
  width: 100%;
  /* top: 0;
  z-index: 9; */
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  width: 92%;
  padding-right: 5rem;
}
.nav .logo h1 {
  /* width: 103px; */
  height: 36px;
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 33.1268px;
  line-height: 35px;

  color: #0e1216;
}

.nav .menus ul {
  display: flex;
}
.nav .menus ul li {
  margin: 10px;
}

.nav .menus ul li a {
  /* Value */

  width: 53px;
  height: 20px;

  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: #0e1216;
}

.nav .connect-btn button {
  border-radius: 20px;
  padding: 10px 12px;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  color: #0e1216;
}

.menu-toggler {
  /* background: none; */
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span {
  display: block;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}

nav .connect-btn button {
  border-radius: 12px;
  background: #dcd3fe;
}
@media only screen and (max-width: 900px) {
  nav.active .connect-btn button {
    width: 30vw;
  }
  .nav.active .menus ul {
    margin-top: 1rem;
  }
  body::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;

    background: linear-gradient(
        184deg,
        #f5f5f5 16.55%,
        rgba(245, 245, 245, 0) 83.96%
      ),
      url(https://s3-alpha-sig.figma.com/img/f647/60af/9971e777aa0372d8fecdfcf50bbb2913?Expires=1707091200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=paKXIVshVyETM54Ek6qA0M8CHhNSftqGD4nPuMRe5yUH-r~fnw6UiUphIJ8bqTrxx5C0PcdJHtk3I~BJD4UKcj9mHK~kSXuJUbEt4kZ-fHv1V5TEqctu2d7Gvr2R7TqWbpVjDtQS4G1dKj96yOasMCDwsQoUBBy0JMtVhHAqudDKNoK49idBawEJpRJoo4Agn-6LpkmZfJLKtPH9Ryidd28tMWu7A9Oe4RbfFLlowXDlnL05Ms7AUlj4oa39DrI6c6z2IyYi-a6WkHuRR7xH4JmfUcuPGXoGg8h77SPY748sjooEnAlk06dHWs6SDNMA44B9iFRGDRfbkFK7ULZVsA__),
      lightgray -670.521px -101px / 443.857% 115.577% no-repeat;
    background-position: bottom;
  }
  nav.nav.active .logo {
    z-index: 99;
    /* margin-left: -2rem; */
  }
  .nav.active .connect-btn {
    display: block;
    z-index: 99;
    position: fixed;
    top: 30rem;
  }

  .nav_wrapper {
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: start;
    width: 100%;
    background: #fff;
    /* border-bottom-left-radius: 32px;
      border-bottom-right-radius: 32px; */
    border: 1px solid #c3b3b3;
  }

  .nav {
    backdrop-filter: none;
    background-color: transparent;
    padding: 0;
  }
}

@media only screen and (max-width: 900px) {
  nav .logo img {
    height: 35px;
    width: 50px;
  }
  nav .logo h1 {
    font-size: 20.808px;
  }
  div#connect {
    padding-top: 0;
  }
}

nav.active .menus {
  display: block;
}

nav.active .menus ul {
  display: flex;
  flex-direction: column;
}

nav.active .menus ul li {
  margin: 2rem 0;
}

nav.active .menus ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 2rem;
}
nav.active .menus ul li {
  display: flex;
  padding: 1rem;
  margin: 1rem 0;
  align-items: center;
}
nav.active .menus ul li a {
  width: fit-content;
}
nav.active .menus {
  display: block;
  position: absolute;
  top: 0;
  width: 80%;
  background: #fff;
  /* background:#ecf6ee; */
  backdrop-filter: blur(19.25px);
  left: 0;
  height: 102vh;
  z-index: 1;
}

nav.active .menu-toggler span:nth-child(1) {
  transform: rotate(-45deg);
  top: 4px;
}

nav.active .menu-toggler span:nth-child(2) {
  opacity: 0;
}

nav.active .menu-toggler span:nth-child(3) {
  transform: rotate(45deg);
  bottom: 14px;
}

.menu-toggler {
  position: absolute;
  right: 2rem;
  /* top: 0; */
}

@media only screen and (max-width: 900px) {
  .animation_region_pc {
    display: none;
  }
  .animation_region_mobile {
    display: block;
  }

  nav .menus,
  .connect-btn {
    display: none;
  }

  nav {
    justify-content: center;
  }

  .nav.active .nav_wrapper {
    width: 100%;
  }

  .menu-toggler {
    display: block;
  }
}

#root {
  overflow-x: hidden;
}
