.value_heading {
  /* width: 237px; */
  height: 54px;
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #0e1216;
  margin-bottom: 1.5rem;
}
.value_media small img {
  height: 12px;
}
.value_container p {
  text-align: left;

  width: 976px;
  height: auto;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;

  color: #0e1216;
}
.value_container {
  width: 90%;
  padding-bottom: 7rem;
  margin: auto;
}
.value_media .lines {
  display: flex;
  flex-direction: column;
}
.value_media .bold_line {
  margin: 5px 0;
  /* width: 389.44px; */
  height: 0px;
  /* opacity: 0.9; */
  border: 3.9577px solid #0e1216;
}
.video-heading {
  display: flex;
  justify-content: space-betweena;
  align-items: center;
  justify-content: space-between;
}
.video-heading h1 {
  /* display: flex; */
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 24.4211px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #0e1216;
}
.value_media .light_line {
  width: 390px;
  height: 0;
  border: 1px solid black;
}
.value_media {
  width: 660px;
  height: 500px;
  margin: auto;
  border: 1px solid #0e1216;
  border-radius: 24px;
  padding: 1rem;
  margin-top: 5rem;
}
.value_media .video {
  width: 100%;

  margin: auto;
}
.value_media .video img {
  border-radius: 20px;
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 1rem;
}
.value_container .value_links {
  width: 700px;

  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
.value_container .value_links a {
  width: 33%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  text-decoration: none;
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #0e1216;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 36px;

  background: #ffffff;
  border-radius: 16px;
  margin: 0 10px;
  /* border: 1px solid; */

  /* border: 1px solid black; */
  /* border: 1px solid linear-gradient(180deg, #D7D7D7 0%, rgba(14, 18, 22, 0) 100%); */
}

.value_container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  filter: blur(242.593px);
  background: linear-gradient(
    187.3deg,
    #fee2c3 5.53%,
    #fee2c3 24.96%,
    #b4e6f6 37.28%,
    #fee2c3 67.65%,
    #ab8dec 103.51%
  );
  /* background: linear-gradient(187.3deg, #F5F5F5 5.53%, #A7F8AF 24.96%, #B4E6F6 37.28%, #FEE2C3 67.65%, #AB8DEC 103.51%); */
}

.value_container .pay_btns {
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.pay_btns .support {
  width: 100%;
  height: 50px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #0e1216;
  border-radius: 12px;
  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  margin-right: 2rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #ffffff;
}
.Rupay {
  background: transparent;
  border: none;
  outline: none;
}
.video_box,
.value_media .video {
  height: 100%;
  min-height: 400px;
}
.video iframe {
  border-radius: 20px;
  margin: 1rem auto;
  width: 100%;
  /* height: 500px; */
  height: 90%;
  display: block;
  min-height: 400px;
  aspect-ratio: 16/9;
}
.video video {
  border-radius: 20px;
  margin: 0rem auto;
  width: 100%;
  /* height: 500px; */
  height: 80%;
  display: block;
  min-height: 400px;
  aspect-ratio: 16/9;
}
iframe video.c-lioqzt.c-lioqzt-fRKYWh-size-contain {
  object-fit: cover !important;
}
