.vision_container {
  background: url(../../Images//landing_bg.png);
  background-position: center;
  background-size: cover;
  /* height: 480px; */
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: #D1E6FB; */
  border-radius: 40px;
  /* padding: 3rem 2rem; */
  /* height: 480px; */
}
.vision_container h1 {
  margin: 2rem 0;
  text-align: left;
  /* width: 231px; */
  height: 54px;

  font-family: "Clash Display Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #0e1216;
}
.vision_container .inner-container {
  width: 90%;
  margin: 3rem auto;
}
.vision_container p {
  text-align: left;

  width: 990px;
  height: auto;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;

  color: #181b1f;

  opacity: 0.9;
}
